.form-group{
	.close{
		display: none;
		font-size: 40px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px 15px;
		z-index: 101;
	}
}

.datepicker {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.suggestions{
	text-transform: capitalize;
}

.popup{
	margin-top: 10px;
	border: none;
	position: absolute;
	border-radius: 4px;
	border-top: 1px solid @color-text-light;
	top: 62px;
	left: 0;
	background: @color-bg;
	z-index: 100;
	padding: 0;
	opacity: 0;

	.box-shadow(0 2px 2px 0 @color-shadow-alpha);
	.transform(translateY(8px));
	.transition(opacity .3s ease, transform .3s ease, left 0s .3s);

	.popup-pointer {
		position: absolute;
		background: #fff;
		border-top: 1px solid #dbdbdb;
		border-right: 1px solid #dbdbdb;
		width: 10px;
		height: 10px;
		left: 10px;
		top: -5px;
		z-index: -1;
		.transform(rotate(315deg));
	}

	&.active {
		opacity: 1;
		transform: translate(0);
		.transition(opacity .3s ease, transform .3s ease, left 0s .3s);
	}
					
	.range-checkbox{
		margin-top: 20px;
		padding: 10px;
		text-align: center;
		border-top: 1px solid @color-border;
	}
	
	.kids{
		margin-top: 20px;
		
		.kid{
			border: 1px solid @color-bg-main-alpha;
			margin: 10px;
			padding-left: 10px;
			border-radius: 4px;
			height: 28px;
			line-height: 26px;
			
			i{
				float: right;
				font-size: 24px;
				line-height: 28px;
				padding: 0 10px;
				cursor: pointer;
				
				&:hover{
					color: @color-main-blue;
				}
			}
			
			
			&.template{
				display: none;
			}
		}
	}
	.add-kids{
		margin-top: 10px;
		padding: 10px;
		text-align: center;
		border-top: 1px solid @color-border;
		
		.info{
			display: none;
			font-size: 11px;
			color: @color-text-gray;
		}
	}
	
	&.people{
		.selector{
			width: 180px;
		}
	}
	
	.selector{
		border-radius: 4px;
		width: 115px;
		height: 36px;
		padding: 10px;
		.clearfix;
		
		.minus,
		.plus{
			background: @color-bg-main-alpha;
			color: @color-bg;
			display: block;
			width: 47.5px;
			height: 36px;
			border: 1px solid @color-main-blue;
			font-size: 24px;
			text-align: center;
			line-height: 34px;
			cursor: pointer;
			
			.user-select(none);
			
			&:hover{
				background: @color-main-blue;
				color: @color-bg;
			}
			
			&.disabled{
				background: @color-border;
				
				&:hover{
					background: @color-border;
				}
			}
		}
		.minus{
			float:left;
			border-radius: 4px 0 0 4px;
			border-right: 1px solid @color-main-blue;
			line-height: 30px;
		}
		.plus{
			float:right;
			border-radius: 0 4px 4px 0;
			border-left: none;
		}
		
		.param{
			margin-left: 47px;
			margin-right: 47px;
			border: 1px solid @color-main-blue;
			border-left: none;
			border-right: none;
			height: 36px;
			font-size: 18px;
			text-align: center;
			line-height: 34px;

			span {
				font-size: 16px;
				color: @color-main-blue;
			}

			i {
				color: @color-text-gray;
			}
		}
	}
	
}

.twitter-typeahead{
	z-index: 100;
	
	.tt-menu{
		position: relative;
		background: white;
		width: 520px;
		margin-left: 0;
		border-radius: 4px;
		border-top: 1px solid @color-text-light;
		margin-top: 14px;
		opacity: 0;
		display: block !important;

		&:before {
			content: ' ';
			position: absolute;
			background: #fff;
			border-top: 1px solid #dbdbdb;
			border-right: 1px solid #dbdbdb;
			width: 10px;
			height: 10px;
			left: 10px;
			top: -6px;
			z-index: -1;
			bottom: calc(100% - 4px);

			.transform(rotate(315deg));
		}

		.transform(translateY(8px));
		.transition(opacity .3s ease, transform .3s ease, left 0s .3s);

		&.tt-open {
			opacity: 1;
			.transform(translate(0));
			.transition(opacity .3s ease, transform .3s ease, left 0s .3s);
		}

		&.tt-empty {
			opacity: 0;
			min-height: 10px;
		}

		.box-shadow(0 2px 2px 0 @color-shadow-alpha);
		
		.tt-dataset{
			margin: 0;
			padding: 0 3px 0 10px;

			.clearfix;
			
			&+.tt-dataset{
				border-top: 1px solid @color-border;
			}
			
			h3{
				width: 100px;
				float: left;
				font-size: 15px;
				padding: 10px 0;
				color: @color-text-gray;
			}
			.tt-suggestion{
				overflow: hidden;
				padding:0 7px;
				margin-top: 2px;
				margin-bottom: 2px;
				margin-left: 100px;
				height: 36px;
				line-height: 36px;
				
				&:hover{
					background: @color-bg-main-alpha;
					border-radius: 4px;
					color: @color-bg;
					
					i{
						color: @color-bg;
					}
				}
				
				&.tt-cursor{
					background: @color-bg-main-alpha;
					border-radius: 4px;
					color: @color-bg;
					
					i{
						color: @color-bg;
					}
				}

				span{
					width: 250px;
					float: left;
					overflow: hidden;
					display: inline-block;
					text-transform: capitalize;
				}

				i{
					width: 128px;
					text-align: right;
					float: right;
					font-style: normal;
					font-weight: normal;
					color: @color-text-gray;
					font-size: 13px;

					& strong{
						font-weight: normal;
					}
				}
			}
		}
	}
	
	.tt-input{
		z-index: 101;
	}
	
}

.pickmeup-twitter-bootstrap{
	margin-top: 0;
	z-index: 100;
	
	&.well{
		box-shadow: none;
		background: @color-bg;
		border: none;
		border-radius: 0 0 10px 10px;
		border-top: 1px solid @color-text-light;

		.box-shadow(0 2px 2px 0 @color-shadow-alpha);
	}
	
	.pmu-day-of-week{
		color: @color-main-blue;
	}
	
	nav{
		.pmu-button{
			&:hover{
				color: @color-text-main !important;
			}
		}
	}
	
	.pmu-days{
		.pmu-button{
		
			.transition(all 0.1s ease);
			
			&:hover{
				background: @color-bg-main-alpha !important;
				color: @color-bg;
				
				.transition(all 0.1s ease);
			}
			&.pmu-selected{
				background: @color-bg-main-alpha !important;
				color: @color-bg;
				
				.transition(all 0.1s ease);
			}
		}
	}
	
	
	.pmu-sunday,
	.pmu-saturday{
		color: @color-main-orange;
		
		&.pmu-selected{
			color: white;
		}
	}
	
	.pmu-disabled{
		color: @color-text-light;
	}
	.pmu-not-in-month{
		color: @color-text-gray;
	}
	
	.range-checkbox{
		padding: 10px;
		text-align: center;
		border-top: 1px solid @color-border;
	}
}
