
.hero{
	margin-top: 0;
	padding-top: 10px;
	background: url('../../img/hero-bg.png') center bottom no-repeat;
	background-size: cover;
	height: 700px;
	position: relative;

	.main-header {
		background: none;
		z-index: 10;
		position: relative;

		.brand{
			height: auto;
			padding: 18px 0;
			width: 20%;
			margin: 0;
			float: left;

			img{
				width: auto;
				height: 44px;

				.optimize-image-rendering;
			}
		}

		.phone{
			margin: 16px 0 0 0;
			font-weight: @font-thin;
			color: @color-main-blue;
			text-align: center;
			width: 30%;
			float:left;

			a{
				text-decoration: none;
				color: @color-text-white;
			}

			.number{
				font-size: 20px;
				color: @color-text-white;
			}

		}

		.request{
			margin: 22px 0 0 0;
			width: 27%;
			min-width: 220px;
			float:left;
			text-align: center;
		}

		.location{
			margin: 16px 0 0 0;
			padding: 10px 0;
			font-size: 16px;
			color: @color-main-blue;
			min-width: 200px;
			text-align: right;
			float:right;

			a{
				font-size: 18px;
				font-weight: @font-thin;
				color: @color-text-white;
				text-decoration: none;
				border-bottom: 1px dashed @color-main-blue;
			}
		}
	}

	.hero-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: black;
		opacity: 0.5;
		z-index: 0;
	}

	.title{
		position: relative;
		font-weight: @font-thin;
		font-size: 36px;
		text-align: center;
		text-transform: uppercase;
		color: @color-text-white;
		margin-bottom: 60px;
		margin-top: 180px;
	}

	&.little{
		height: 180px;
		padding-top: 35px;
		margin-bottom: -60px;
	}
}