@media screen and (min-width: 1190px) {
	.container{
		width: 1170px !important;
	}

	.tour-includes {
		padding: 20px;

		dl dt {
			width: 40px;
		}

		dl dd {
			margin-left: 50px;
			font-size: 15px;
		}
	}

	.list .items .item .variants .variant > div {
		&.operator{
			width: 175px;
			left: 0;

			.data{
				margin-left: 35px;

				span{
					width: 140px;
				}
			}
		}

		&.date{
			width: 130px;
			left: 175px;

			.data {
				span{
					width: 100px;
				}
			}
		}

		&.room{
			width: 230px;
			left: 305px;

			.data {
				span{
					width: 205px;
					text-transform: capitalize;
				}
			}
		}

		&.meal{
			width: 160px;
			right: 120px;

			.data {
				span{
					width: 130px;
				}
			}
		}

		&.price{
			width: 150px;
			right: 0;

			.data {
				margin: 0;
				text-align: right;
			}
		}
	}

	#tour .sidebar .head .low-price .wrap .text {
		margin-left: 85px;
		font-size: 15px;
		line-height: 32px;
	}

	#hotel .main .content .services .grid-item {
		width: 390px;
	}

	main .bottomCountries .country a {
		width: 135px;
	}

	.block.hot .content .items .item {
		width: 287px !important;
	}

	.block.mobile-promo .promo-block .text h3 {
		font-size: 40px;
	}

	.block.mobile-promo .promo-block .text p {
		font-size: 26px;
	}

	#tour .main .content .tourists .tourist .wrap .left .cell .first,
	#tour .main .content .tourists .tourist .wrap .right .cell .first {
		width: 190px !important;
	}

	#tour .main .content .tourists .tourist .wrap .left .cell .second,
	#tour .main .content .tourists .tourist .wrap .right .cell .second {
		width: 192px !important;
		margin-left: 200px !important;
	}

	#tour .main .content .tourists .tourist .wrap .left label.gender,
	#tour .main .content .tourists .tourist .wrap .right label.gender {
		width: 94px !important;
	}

	#tour .main .content .flights .flight .fuel {
		width: 160px !important;
		margin-left: -80px !important;
	}

	#tour .main .content .flights .flight .changed {
		left: 334px;
	}

	#tour .main .content .flights .flight .forward,
	#tour .main .content .flights .flight .backward {
		width: 330px !important;
	}

	#tour .main .content .flights .flight .forward .arrow,
	#tour .main .content .flights .flight .backward .arrow {
		width: 60px !important;
		left: 140px !important;
	}

	#tour .main .content .pay-variants .variant {
		width: 275px !important;
	}

	#countries.country .sidebar .content > .wrap .regions .region .image {
		height: 175px !important;
	}
}

@media screen and (min-width: 0){

	.block {
		> .container {
			padding: 0 20px;
		}
	}
}