@font-face {
	.font-face(rouble, ~'../../fonts/rouble-webfont', normal, normal);
}

html, body {
	height: 100%;
	width: 100%;
	color: @color-text-main;
	min-width: 960px;
	font-size: 15px;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke:1px transparent;

	.font-light;
}

img{
	width: 100%;
}

.container {
	width: 960px;
	padding-right: 10px;
	padding-left: 10px;
}

h1,
h2,
h3,
h4,
h5{
	font-weight: @font-light;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

	small{
		font-weight: @font-light;
		text-transform: none;
	}

	&.centered{
		text-align: center;
	}
}

h1{
	font-size: 24px;
}
h2{
	font-size: 20px;

	small{
		font-size: 15px;
	}
}

input[type="checkbox"]{
	display: none;

	&:checked + label{
		color: @color-blue !important;

		&:before{
			background-position: 0 0;
		}

		&:hover{
			&:before{
				background-position: 0 0;
			}
		}

	}

	&:disabled + label{
		color: @color-text-light !important;

		&:before{
			background-position: 0 14px;
		}

		&:hover{
			&:before{
				background-position: 0 14px;
			}
		}
	}

	&+label{
		font-size: 14px;
		line-height: 16px;
		font-weight: @font-light;

		&:before{
			content: " ";
			display: inline-block;
			width: 14px;
			height: 14px;
			margin-bottom: -2px;
			margin-right: 4px;
			background: url(../img/form/checkbox.png) 0 42px;
		}

		&:hover{
			cursor: default;

			&:before{
				background-position: 0 28px;
			}

		}

	}
}

.form-control,
input[type="text"],
input[type="tel"],
input[type="email"]{
	border: 1px solid @color-border;
	border-radius: 4px;
	padding: 6px 8px;
	background: none;
	color: @color-blue;
	width: 100%;
	margin: 0;
	.box-shadow(none);

	&:focus{
		.box-shadow(none);
	}
}

label{
	font-weight: 300;
	cursor: pointer;
}

dt{
	font-weight: 300;
}

.template{
	display: none;
}

a{
	cursor:pointer;
	text-decoration:underline;
	color: @color-blue;
	outline: none;

	.animateLink;
}

button {
	outline: none;
}

.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

.rub
{
	font-family:'rouble';
	font-weight: normal;
	font-style: normal;
	font-size:small;
	margin-left:-5px;
}

a.internal {
	text-decoration: none;

	span {
		border-bottom: 1px dashed;
	}
}

.btn{
	font-size: 18px;
	font-weight: @font-light;
	text-shadow: 0 1px 1px @color-shadow-alpha;
	border: none;
	border-radius: 6px;
	color: white;
	text-decoration: none;
	text-align: left;

	.transition(all 0.2s ease-in-out);

	&:disabled,
	&.disabled,
	&[disabled],
	&:focus,
	&:active,
	&:hover{
		color: white !important;
		outline: none !important;
		margin: 0;

		.transition(all 0.2s ease-in-out);
	}

	&.btn-default{
		background: @color-blue;


		&.disabled,
		&:disabled,
		&[disabled]{
			background: @color-blue;

			&:hover,
			&:focus,
			&:active{
				background: @color-blue-dark;
			}
		}

		&:hover,
		&:focus,
		&:active{
			background: @color-blue-dark;
		}
	}

	&.btn-primary{
		background: @color-orange;


		&.disabled,
		&:disabled,
		&[disabled]{
			background: @color-orange;

			&:hover,
			&:focus,
			&:active{
				background: @color-orange-dark;
			}
		}

		&:hover,
		&:focus,
		&:active{
			background: @color-orange-dark;
		}
	}

	&.btn-back{
		background: @color-gray-light;
		color: @color-text-gray;
		text-shadow: none;

		&.disabled,
		&:disabled,
		&[disabled]{
			background: @color-gray-light;
			color: @color-text-gray;

			&:hover{
				color: @color-text-gray;
			}

			&:focus,
			&:active{
				color: @color-text-gray;
				background: darken(@color-gray-light,10%);
			}
		}

		&:hover{
			color: @color-text-gray !important;
		}

		&:focus,
		&:active{
			color: @color-text-gray !important;
			background: darken(@color-gray-light, 10%);
		}
	}

	&.with-icon{
		width: 100%;
		height: 60px;

		.icon{
			width: 55px;
			float:left;
			text-align: center;
			height: 50px;
			font-size: 50px;
			line-height: 35px;
			color: @color-white !important;
		}

		span.data{
			margin-left: 65px;
			text-align: left;
			display: block;
			font-size: 22px;
			line-height: 26px;
			color: @color-white !important;

			small{
				display: block;
				font-size: 13px;
				line-height: 20px;
				color: @color-white !important;
				text-align: left;
			}
		}

	}
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.pagination {
	> li {
		> a,
		> span {
			color: @color-blue;
			border-color: @color-border;
		}
	}

	> .active {
		> a,
		> span,
		> a:hover,
		> span:hover,
		> a:focus,
		> span:focus {
			background-color: @color-blue;
			border-color: @color-blue;
		}
	}
}